header {
  height: 200px;
  background-image: url("../img/img-1.jpg");
  color: rgb(255, 255, 255);
  text-align: center;
}


.divider {
  border-top: 2px solid rgb(128, 128, 128);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

img {
  padding: 5px;
  max-width: 350px;
}
