:root {
  --primary-color: #05537b;
  --secondary-color: rgb(172, 122, 61);
  --tertiary-color: rgb(39, 37, 37);
}

 html {
    height: 100%;
}

  /* set styles for the background image */
  .background {
    background: url('../img/img-1.jpg');
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  /* set styles for the header */
  header {
    display: flex;
    justify-content: space-between;
    /* border: 2px whitesmoke solid; */
    /* border-radius: 10px; */
    background-color: var(--primary-color);
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }

  header h1 {
    font-family: Space Bd BT;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 9);
  
  }

  header a:hover {
    color: whitesmoke;
    text-shadow:none;
  }

  header a {
    text-shadow:none;
    margin: 20px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 9);
    font-family: Space Bd BT;
    color: aqua;
  }

  .hero {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin-bottom: 50px;
    font-family: Space Bd BT;
    color: #eae0c8;
    text-shadow: 0 0 10px rgba(0, 0, 0, 9);
    font-size: 20px;

  }

  .hero-cta h4{
    color: #eae0c8;
    font-size: 35px;
    font-family: Space Bd BT;
    text-shadow: 0 0 10px rgba(0, 0, 0, 9);
  }

  /*styles for the search box */
  .card-search {
    padding: 25px;
    text-align: center;
    width: 50%;
    background-color: var(--secondary-color);
    box-shadow: 0 0 15px rgb(255, 255, 255);
    margin-bottom: 40px;
    margin-left: 25%;
    border-radius: 30px;
  }

  #recipeSearch {
  border-radius: 10px;
}

input.form-input {
  color:rgb(22, 22, 22);
  font-style: italic;
  font-size: 14px;
}

.card-search button {
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
  }

#Search {
  font-family: Space Bd BT;
}

/* styles for the result cards */
.food-title {
  padding-top: 10px;
  color: var(--primary-color);
  font-style: italic;
  font-size: 14px;
}

.food-title:hover {
  text-decoration: underline;
}

.modal {
  margin-top: 70px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.closeBtn {
  margin: 10px;
}

#btnClose {
  margin-top: 20px;
}
.card-title {
  font-weight: bold;
  font-size: 24px;
  color: rgb(9, 9, 114);
}

.card-detail {
  font-weight: bold;
  color: rgb(9, 9, 114);
}

.sourceURL:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-between;
  border: 1px whitesmoke solid;
  background-color: var(--primary-color);
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer h6 {
  font-family: Space Bd BT;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 9);
}

footer div {
    font-family: Space Bd BT;
    font-size: 15px;
    font-weight: lighter;
    text-align: right;
    margin-right: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 9);
}

/* MEDIA QUERY FOR Mobile phones and smaller */
@media screen and (max-width: 575px) {
  header {
    justify-content: center;
    position: relative;
  }

  menu {
    text-align: center;
    font-size: 25px;
  }
}